@use "../../../presets/index" as *;
@use "../../../mixins/index" as *;

.form-item {
  @include md-sm {
    &:nth-last-of-type(3) {
      grid-column: 1/span 2;
    }
  }

  &__input {
    display: block;

    width: 100%;
    height: $gap-x3;
    padding-right: 20px;
    padding-left: 20px;

    letter-spacing: 2px;

    color: $color-light;
    border: 2px solid rgba($color-primary, 0);
    border-bottom-color: rgba($color-gray-light, 0.25);
    background-color: rgba($color-gray, 0.05);

    font-size: 18px;

    @include lg-min {
      padding-right: 30px;
      padding-left: 30px;
    }
    @include lg-md {
      font-size: 16px;
    }
    @include sm-min {
      padding-right: 20px;
      padding-left: 20px;
    }

    &:hover,
    &:focus {
      border-bottom-color: $color-gray-light;
      background-color: rgba($color-gray, 0.15);
      background-color: rgba($color-gray, 0.15);
    }

    &::placeholder {
      color: $color-gray;
    }
  }
}
