@use "../../../presets/index" as *;
@use "../../../mixins/index" as *;

.form {
  background-color: $color-primary;

  @include lg-min {
    padding: 29px 0;
  }
  @include sm-min {
    padding: 20px 0;
  }
  @include sm {
    padding: 20px 0;
  }

  &__container {
    display: grid;

    @extend %container;
    gap: 20px;
    @include md-min {
      grid-template-columns: repeat(3, 1fr);
    }
    @include md-sm {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
