@use "../../../presets/index" as*;
@use "../../../mixins/index" as*;

.posts-item {
  transition: background-color 0.5s;

  background-color: $color-gray-white;

  &:hover {
    background-color: $color-gray-light-dark;
  }

  &:hover img {
    transform: scale(1.1);
  }

  &__link {
    display: grid;
    overflow: hidden;

    height: 100%;

    grid-template-rows: 300px 1fr;
  }

  &__image {
    display: flex;
    overflow: hidden;
    justify-content: center;

    img {
      width: 100%;

      transition: transform 0.5s;

      object-fit: cover;
    }
  }

  &__caption {
    display: grid;
    align-content: center;

    padding: $gap;

    h3 {
      font-family: $font-header;
    }

    p {
      transition: color 0.5s;
      text-align: center;
    }
  }

  &:hover h3 {
    color: $color-primary;
  }

  &:hover p {
    color: $color-primary;
  }
}

@for $i from 1 through 6 {
  .posts-item:nth-of-type(#{$i}) {
    grid-area: p#{$i};
  }
}
