@use "../../presets/index" as *;
@use "../../mixins/index" as *;

.about {
  background-color: $color-gray-light;

  &__container {
    display: grid;

    @extend %container;
    @include lg-min {
      padding-top: 95px;
      padding-bottom: 75px;

      gap: 91px;
      grid-template-columns: 1fr 271px;
    }
    @include lg-md {
      padding-top: 80px;
      padding-bottom: 55px;

      gap: 50px;
      grid-template-columns: 1fr 271px;
    }
    @include md-sm {
      padding-top: 58px;
      padding-bottom: 32px;

      gap: 74px;
      grid-template-columns: 1fr 236px;
    }
    @include sm {
      padding-top: 60px;
      padding-bottom: 67px;

      gap: $gap;
      grid-template-columns: 1fr;
    }
  }

  &__content p:first-of-type {
    position: relative;

    &:after {
      position: absolute;
      top: 0;

      width: 1px;
      height: $gap-x5 * 2;
      margin: 0 -3px 0;

      content: "";

      background-color: rgba($color-dark-gray, 0.1);

      @include lg-min {
        right: -50px;
      }
      @include lg-md {
        top: -10px;
        right: -20px;
      }
      @include md-sm {
        right: 0;
      }
      @include sm {
        display: none;
      }
    }
  }

  &__image {
    display: grid;
    align-content: flex-start;
    justify-content: center;

    @include lg-min {
      align-content: flex-end;

      margin-top: 5px;
    }
    @include md {
      margin-top: -22px;
    }
    @include sm {
      margin-top: 0;
    }


    img {
      max-width: 100%;
      max-height: 485px;

      @include lg-md {
        max-height: 460px;
      }
      @include sm {
        max-height: 490px;
      }
    }
  }
}
