@use "../../presets/index" as *;
@use "../../mixins/index" as *;

.header-content {
  position: relative;
  z-index: 1;

  margin-top: 150px;

  &__container {
    @extend %container;
  }

  &__title {
    @include lg-min {
      margin: 0 0 50px;
    }
    @include lg-md {
      margin: 0 0 43px;
    }
    @include md-sm {
      margin-bottom: 30px;
    }
    @include sm {
      max-width: 325px;
      margin: 0 auto 40px;
    }
  }

  &__actions {
    display: flex;
    justify-content: center;

    gap: $gap;
    @include sm {
      align-items: center;
    }
  }
}
