@use "../presets/" as *;
@use "../mixins/" as *;

.visually-hidden {
  @include visually-hidden;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 10px;

  transition: background-color 0.25s;
  letter-spacing: 2px;

  min-height: 60px;
  font-size: 18px;

  &:hover,
  &:focus {
    background-color: $color-accent;
  }

  &--light {
    border: 2px solid $color-light;
    background-color: rgba($color-light, 0.1);

    @include lg-min {
      min-width: 250px;
      min-height: 60px;

      font-size: 18px;
    }

    @include lg-md {
      width: 200px;
      height: 50px;
    }

    @include md {
      width: 170px;
      height: 40px;
    }
  }

  &--primary {
    border: 2px solid $color-primary;
    background-color: rgba($color-primary, 0.8);

    @include sm-min {
      min-width: 350px;
    }

    @include sm {
      min-width: 100%;
    }
  }

  &--primary2 {
    width: 100%;
    color: $color-gray-light;
    border: 2px solid rgba($color-primary, 0);
    border-bottom-color: rgba($color-gray-light, 0.25);
    background-color: rgba($color-gray, 0.1);

    &:hover,
    &:focus {
      border: 2px solid $color-light;
    }
  }
}