@use "../presets/" as *;
@use "../mixins/" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: $font-main;
  font-size: $font-size ;
}

body {
  color: $color-gray ;
  background-color: $color-light;
}

a {
  text-decoration: none;

  color: $color-light;

  font-family: $font-main;
}

h1 {
  text-align: center;
  letter-spacing: 0.08em;

  color: $color-light;

  font-family: $font-header;
  font-size: 3.75rem;
  font-weight: 300;
  line-height: 1.2;

  @include lg-min {
    font-size: 3.75rem;
  }
  @include lg-md {
    font-size: 2.5rem;
  }
  @include md {
    font-size: 1.875rem;
  }
  @include sm {
    line-height: 38px;
  }
}

h2 {
  margin-top: 0;

  letter-spacing: 0.1em;

  color: $color-primary;

  font-family: $font-header;
  line-height: 1.2em;

  @include lg-min {
    margin-bottom: 59px;

    font-size: $gap-x2;
  }
  @include lg-md {
    margin-bottom: 42px;

    letter-spacing: 3px;

    font-size: 32px;
  }
  @include md-sm {
    margin-bottom: 29px;

    font-size: 24px;
    line-height: 32px;
  }
  @include sm {
    margin-bottom: 23px;

    text-align: center;

    font-size: 24px;
    line-height: 31px;
  }
}

h3 {
  margin: 0 0 20px;

  transition: color 0.5s;
  text-align: center;
  letter-spacing: 1px;

  color: $color-gray;

  font-family: $font-header;
  font-size: 18px;

  @include lg-md {
    margin: 0 0 27px;
  }
}

p {
  margin-top: 0;
  margin-bottom: 16px;

  letter-spacing: 0.9px;

  color: $color-gray;

  line-height: 24px;

  @include lg-min {
    font-size: 18px;
  }
  @include lg-md {
    font-size: 18px;
  }
  @include sm-min {
    margin-top: -5px;
    margin-bottom: 20px;

    font-size: 16px;
  }
  @include sm {
    font-size: 16px;
  }
}
